/* colors
lightgreen:#7ed56f;
mediumgreen:#55c57a;
darkgreen:#28b485;
colors */

/* css starts here */
/* universal selector */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  font-size: 16px;
  padding: 30px;
}

.header {
  background-image: linear-gradient(to right, #7ed56f8c, #28b4858c),
    url("../Images/hero.jpg");
  background-size: cover;
  background-position: top;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  text-align: center;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.primary-heading {
  color: #fff;
  backface-visibility: hidden;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.primary-heading-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveinleft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.primary-heading-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  animation-name: moveinright;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

/* keyframes */

@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveinbottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 15px 40px;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.4s;
  z-index: -1;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated{
  animation:moveinbottom 1s ease-out 0.75s;
  animation-fill-mode: backwards;
}
